.about { 
  &_wrap {
    width: 100%; 
    background: #121212;
    padding: 200px 0 50px 0;
  } 
  &_box { 
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  } 
  &_img {
    width: 400px; 
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
    }
  }
  &_text {  
    h2 {
      font-size: $fs24 !important;
      font-family: $noto-bold !important;
      margin-bottom: 40px !important;
    }
    &_wrap {  
      width: 600px; 
      h2,h3,h4 { 
        font-size: $fs16;
        color: #e4e4e4;
        margin-bottom: 20px;
        font-family: $noto-thin;
        span {
          color: $yellow;
        }
      }
    }
    &_keyword { 
      font-size: $fs16; 
        color: $yellow;
        margin-bottom: 10px;
    }
  }
  &_hash {
    opacity: 0;
    animation-delay: 3.2s !important; 
    margin-top: 50px;
    span {
      display: inline-block;
      background-color: rgb(45 45 45 / 49%);
      padding: 7px 12px;
      border-radius: 10px;
      margin-right: 10px;
      color: $white; 
    }
  }
  &_bg {
    position: absolute;
    width: 100%;
    height: 800px;
    background: url('https://mihye0924.github.io/mihye/images/content/bg2.jpg') no-repeat; 
    background-size: 100%; 
    background-attachment: fixed;
    filter: brightness(40%);
    z-index: 0;
  }   
} 

// 노트북
@media all and ( max-width: $d-width ) {
  .about {
    &_wrap {
      :global {
        .l-content {
          max-width: 100%;
        }
      }
      width: initial;
      padding: 15vh 20px 5vh 20px;
    }
    &_img {
      flex: 1 1 45%;
      max-height: 420px;
      width: initial;
      height: initial ;
    }
    &_text {
      h2 {
        font-size: 2.4vw !important;
        margin-bottom: 3.5vw !important;
      }
      &_wrap { 
        flex: 1 1 55%;
        width: initial;
        h2,h3,h4 { 
          font-size: $fs14;  
        }
      }
      &_keyword { 
        font-size: $fs14;  
      }
    }
    &_hash { 
      margin-top: 30px;
      span { 
        font-size: $fs12;
      }
    }
  }
}

// 태블릿
@media all and ( max-width: 700px ) {
  .about {
    &_wrap { 
      padding: 15vh 15px 5vh 15px;
    }
    &_box { 
      flex-wrap: wrap;
      gap: 40px;
    } 
    &_img {
      max-height: inherit;
      height: 60vh;
    }
    &_text {
      h2 {
        font-size: 4.8vw !important;
        margin-bottom: 8vw !important;
      }
      &_wrap {   
        h2,h3,h4 { 
          font-size: $fs14;  
        }
      }
      &_keyword { 
        font-size: $fs14;  
      }
    }
  }
}