.about {  
  &_wrap { 
    margin-top: 200px;
  }
  &_education {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-bottom: 50px; 
    li {
      padding: 50px 0;
      &:not(:last-child) {
        border-bottom: 1px solid #000;
      }
      p {
        font-size: 94px;
      }
      span {
        font-size: 40px;
        letter-spacing: -2px;
      }
    } 
  }
  &_company {
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
    >li {
      width: calc( 100% / 2);
      padding: 40px;
      border-radius: 20px; 
      background-color: #f9f9f9;
    }
    &_inner {
      display: flex; 
      align-items: stretch;
      height: 100%;
      :global {
        p {
          &:nth-of-type(1) {  
            display: flex;
            align-items: center;
            justify-content: center;
            width: 250px; 
            font-size: 24px;
            padding: 20px;
            box-sizing: content-box; 
            &.TeamLemon {
              font-family: $popins-bold; 
              text-align: center;
              background-color: #ffee00;
            }
            &.Freeive {
              font-family: $popins-bold; 
              text-align: center;
              background-color: #8c00ff;
              color: #fff;
            } 
          }
        }
      }
      span { 
        &:nth-child(1){ 
          font-size: 32px;
          font-weight: 800; 
        }
      }
      &_list {
        margin-top: 30px;
        li {
          position: relative;
          padding-left: 15px;
          margin-bottom: 10px;
          font-size: 20px;
          &::before {
            position: absolute;
            content: "";
            top: 50%;
            left: 0px;
            transform: translate(-50%, -50%);
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background-color: #000;
          }
        }
      } 
      &_text {
        display: flex;
        flex-direction: column;
        margin-left: 25px;
        span {
          font-size: 20px;
        }
      }
    }
  }
  &_stack {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    >li {
      padding: 40px 0;
      grid-template-columns: repeat(2, 1fr);
      display: grid;
      gap: 20px;
      &:not(:last-child) {
        border-bottom: 1px solid #000;
      }
      &:nth-of-type(1),
      &:nth-of-type(3) { 
       &>ul {
        grid-template-rows: repeat(1, 15vw);
        grid-template-columns: repeat(3, 1fr); 
       } 
      }
    }
    &_text {  
      p {
        font-weight: 900;
        font-size: 100px;
        margin-bottom: 30px; 
      }
      &_list {
        li {
          &:not(:last-child) { 
            margin-bottom: 10px;
          }
          position: relative;
          font-size: 20px;
          padding-left: 15px;
          margin-bottom: 10px;
          &::before {
            position: absolute;
            content: "";
            top: 50%;
            left: 0px;
            transform: translate(-50%, -50%);
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background-color: #000;
          } 
        }
      }
    }
    &_img { 
      display: grid;
      grid-template-rows: repeat(3, 15vw);
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      >li {  
        position: relative; 
        background-color: #f9f9f9; 
        border-radius: 15px; 
        border: 2px solid transparent;
        span {
          display: none;
        }
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          width: 65px; 
        }
        &:hover {
          transition: all .5s linear;
          background-color: #000;
          img {
            display: none;
          }
          span {
            animation: logo-spin .3s linear alternate infinite;
            display: block;
            position: absolute;
            font-weight: 600;
            color: #fff;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
          }
        }
      }
    }
  } 
}
 
@keyframes logo-spin { 
  0% {
    transform: translate(-50%,-50%) rotate(10deg);
  }
  100% {
    transform: translate(-50%,-50%) rotate(-10deg);
  }
}

@media (max-width:$d-width) {  
  .about {  
    &_wrap {
      margin: 80px 0;
    }
    &_education { 
      margin-bottom: 50px; 
      li {
        padding: 2vw 0; 
        p {
          font-size: 8vw;
        }
        span {
          font-size: 3.2vw; 
        }
      } 
    }
    &_company { 
      margin-bottom: 50px;
      gap: 2.5vw;
      >li {
        width: calc( 100% / 1); 
        padding: 4vw;
      }
      &_inner { 
        flex-wrap: wrap;
        align-items: center;
        gap: 2vw; 
        height: auto;
        :global {
          p {
            &:nth-of-type(1) { 
              width: 100%; 
              font-size: 3.5vw; 
              height: 20vw; 
            }
          }
        }
        span { 
          &:nth-child(1){ 
            font-size: 3.5vw;
            font-weight: 800; 
          }
        }
        &_list {
          margin-top: 3.5vw; 
          &>li { 
            font-size: 2.5vw;
          }
        } 
        &_text {
          flex: 1; 
          margin-left: 0;
          span {
            font-size: 2.5vw;
          }
        }
      }
    }
    &_stack { 
      >li {
        grid-template-columns: repeat(1, 1fr);
        padding: 4vw 0; 
        gap: 2.5vw; 
        &:nth-of-type(1),
        &:nth-of-type(3) { 
        &>ul {
          grid-template-rows: repeat(1, 30vw); 
        } 
        }
      }
      &_text {
        p {
          font-size: 12vw;
          margin-bottom: 2.5vw; 
        }
        &_list {
          li {  
            padding-left: 15px;
            margin-bottom: 10px;
            &::before {
              position: absolute;
              content: "";
              top: 50%;
              left: 0px;
              transform: translate(-50%, -50%);
              width: 3px;
              height: 3px;
              border-radius: 50%;
              background-color: #000;
            } 
          }
        }
      }
      &_img {  
        grid-template-rows: repeat(3, 30vw);
      }
    } 
  }
} 

@media (max-width:$t-width) {  
  .about {  
    &_wrap {
      margin: 80px 0;
    }
    &_education { 
      margin-bottom: 50px; 
      li {
        padding: 15px 0; 
        p {
          font-size: 42px;
        }
        span {
          font-size: 24px; 
        }
      } 
    }
    &_company {
      flex-wrap: wrap;
      gap: 15px;
      >li {
        padding: 20px;
      }
      &_inner { 
        flex-wrap: wrap; 
        gap: 20px;  
        :global {
          p {
            &:nth-of-type(1) {  
              font-size: 24px; 
              height: 180px; 
            }
          }
        }
        span { 
          &:nth-child(1){ 
            font-size: 30px;
            font-weight: 800; 
          }
        }
        &_list {
          margin-top: 20px; 
          &>li{
            font-size: 20px;
          }
        } 
        &_text {
          flex: 1; 
          margin-left: 0;
          span {
            font-size: 20px;
          }
        }
      }
    }
    &_stack { 
      >li {
        padding: 20px 0; 
        font-size: 18px;
        gap: 20px;  
      }
      &_text {
        p {
          font-size: 60px;
          letter-spacing: -2px;
          margin-bottom: 20px; 
        }
        &_list {
          li {  
            padding-left: 15px;
            margin-bottom: 10px;
            &::before {
              position: absolute;
              content: "";
              top: 50%;
              left: 0px;
              transform: translate(-50%, -50%);
              width: 3px;
              height: 3px;
              border-radius: 50%;
              background-color: #000;
            } 
          }
        }
      }
      &_img {  
        >li {  
          img { 
            width: 40px; 
          }
        }
      }
    } 
  }
} 


@media (max-width:$m-width) {  
  .about {  
    &_wrap {
      margin: 50px 0;
    } 
    &_education {  
      li { 
        p {
          font-size: 36px;
        }
        span {
          font-size: 20px; 
        }
      } 
    }
    &_company {
      &_inner {  
        span { 
          &:nth-child(1){ 
            font-size: 24px; 
          }
        }
        &_list { 
          &>li{
            font-size: 18px;
          }
        } 
        &_text { 
          span {
            font-size: 18px;
          }
        }
      }
    }
    &_stack { 
      >li {
        padding: 20px 0; 
        font-size: 18px;
        gap: 20px;  
      }
      &_text {
        p {
          font-size: 50px;
        }
        &_list {
          li {  
            font-size: 16px;
          }
        }
      }
      &_img {  
        >li {  
          &:hover {
            span {
              font-size: 14px;
            }
          }
          img { 
            width: 40px; 
          }
        }
      }
    } 
  }
} 
