.intro { 
  &_wrap {
    position: relative;
    width: 100%;   
    background-color: #000;
    :global {
      .l-content {
        max-width: $d-width; 
        padding: 200px 20px;
      } 
    }    
  } 
  &_box { 
    position: relative; 
    display: grid;  
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  } 
  &_imgBox {
    position: relative;
    &_img {
      filter: grayscale(1);
      width: 100%;   
      img {
        width: 100%; 
        border-radius: 50px;
      }
    }  
  }
  &_text {   
    position: relative;
    h2 { 
      font-size: 40px;
      color: #fff;
      font-weight: 900;
      margin: 80px 0 50px 0;
      line-height: 1.3; 
    } 
    div { 
      font-size: 20px; 
      color: #fff;
      span {
        color: #fff;
      }
    }
  }
  &_icon {
    position: absolute;
    bottom: 25px;
    right: 25px;
    width: 25px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #fff;
    opacity: 1; 
    &_txt { 
      animation: topBottom .7s linear infinite;
      animation-fill-mode: forwards;
      display: block;
      position: absolute;
      bottom: -30px;
      left: 50%;
      transform: translate(-50%, 30%); 
    }
    :global {
      .icon {
        &::after {
          position: absolute;
          content: "";
          width: 2px;
          height: 10px;
          background-color: #fff;
          border-radius: 25px;
          top: 65%;
          left: 54%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
} 
@keyframes topBottom {
  0%{ transform: translate(-50%, 30%); } 
  100%{ transform: translate(-50%, 0);  }
}

@media (max-width:$d-width) {  
  .intro { 
    &_wrap { 
      :global {
        .l-content {  
          padding: 10vw 4vw;
        } 
      }    
    }
    &_box { 
      gap: 3.5vw;
    }
    &_text {   
      position: relative;
      h2 { 
        font-size: 3.5vw; 
        margin: 4vw 0; 
      } 
      div { 
        font-size: 2vw; 
      }
      :global {
        .icon { 
          width: 2.5vw;
          height: 4.5vw; 
        }
      }
    } 
    &_icon {
      width: 2.4vw;
      height: 4.5vw;

    }
  }
}
 

@media (max-width:$t-width) {  
  .intro {
    &_wrap { 
      :global {
        .l-content { 
          padding: 80px 20px 200px 20px;
        } 
      }    
    } 
    &_box { 
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }
    &_imgBox { 
      margin: 0 auto;  
      &_img {
        width: 380px; 
      }
    }
    &_text {  
      width: 400px;
      margin: 0 auto;
      h2 { 
          font-size: 30px;
          margin: 35px 0;
      }
      div {
        font-size: 16px;
      }
    }
    &_icon {
      left: 50%;
      transform: translate(-50%, 0);
      bottom: -90px;
      width: 20px;
      height: 35px;
    }
  }
}


@media (max-width:$m-width) {  
  .intro {
    &_wrap { 
      :global {
        .l-content {  
          padding: 20px 20px 185px 20px;
        } 
      }    
    } 
    &_imgBox { 
      &_img {
        width: 100%;
      }
    }
    &_text {  
      width: 100%; 
      h2 { 
          font-size: 28px;
          margin: 20px 0;
      } 
      div {
        font-size: 16px;
      }
    } 
  }
}