.menu {
    &_wrap {
        position: fixed;
        overflow: hidden;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 6;
    }
    &_header{ 
        display: flex;
        justify-content: space-between;
        background-color: #121212;
        border-bottom: 1px solid #1a1a1a;
        &_h1 {  
            // font-family: $courgette-r;
            width: 150px;
            text-align: center;
            span {
                display: inline-block;
                margin-right: 5px;
                font-size: 24px;
                color: $black;
                // background-color: $yellow;
                border-radius: 25px;
                width: 45px;
                height: 45px;
                line-height: 45px;
            }
            a {
                font-size: 24px;
                line-height: 80px;
                // color: $yellow;
            } 
        } 
        &_button { 
            position: relative;
            width: 80px;
            height: 80px;
            button {
                cursor: pointer;
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%; 
                background-color: $black; 
                div {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    width: 30px;
                    height: 30px;
                }
                span {
                    &:first-child {
                        position: absolute;
                        width: 25px;
                        height: 2px;
                        background-color: $white; 
                        animation: closeTopIcon 0.2s linear;
                        animation-fill-mode: forwards;
                    }
                    &:last-child {
                        position: absolute;
                        width: 25px;
                        height: 2px; 
                        background-color: $white; 
                        animation: closeBottomIcon 0.2s linear;
                        animation-fill-mode: forwards;
                    }
                }
            }
        } 
    }
    &_bg {
        position: absolute;
        width: 100%;
        height: calc(100vh - 80px);
        &_div {    
            display: inline-block;
            &:nth-child(1) {
                width: calc(350px - 1px);
                border-right: 1px solid #1a1a1a;
            }
            &:nth-child(2) {
                width: calc(100% - (350px + 80px)); 
            }
            &:nth-child(3) {
                width: calc(80px - 1px);
                border-left: 1px solid #1a1a1a;   
            }  
            div {   
                display: inline-block;
                background-color: #121212;
                width: 100%;
                height: calc(100vh - 80px);
                animation: sideOpen 0.3s linear; 
                animation-fill-mode: backwards;
            }
        }
    } 
    &_content {
        position: relative; 
        height: calc(100vh - 80px);
        &_div {  
            display: inline-block;
            &:nth-child(1) {
                position: relative;
                width: calc(350px - 1px); 
                height: 100%;
                div {
                    position: absolute;
                    bottom: 70px;
                    left: 70px;
                    p {  
                        overflow: hidden;
                        b {
                            // font-family: $courgette-r;
                            // color: $yellow;
                        }
                        span { 
                            display: inline-block;
                            animation: textAnimate 0.4s linear;
                            animation-fill-mode: backwards;
                            color: $white;
                        }
                        &:nth-child(1) {
                            span {
                                animation-delay: 0.3s; 
                                font-size: 20px; 
                            }
                        }
                        &:nth-child(2) {
                            span {
                                animation-delay: 0.4s;   
                                font-size: 24px; 
                                // font-family: $exo2; 
                            }
                        }
                    }
                    button {
                        cursor: pointer;
                        margin-top: 20px;
                        width: 100%;
                        height: 40px;
                        line-height: 40px;
                        overflow: hidden;
                        span {
                            width: 100%;
                            display: inline-block;
                            background-color: $black;
                            animation: textAnimate 0.5s linear;
                            animation-fill-mode: backwards;
                            animation-delay: 0.4s;  
                            color: $white; 
                        }
                    }
                }
            }
            &:nth-child(2) {
                position: relative;
                width: calc(100% - (350px + 80px)); 
                height: 100%;
               ul { 
                position: absolute;
                top: 0;
                display: flex;
                flex-wrap: wrap;
                li {
                    width: 100%;
                    border: 3px solid transparent;
                    button {
                        width: 100%; 
                        display: block;
                        overflow: hidden;
                        span {
                            text-align: left;
                            padding: 25px 80px;
                            animation: textAnimate 0.2s linear;
                            animation-fill-mode: backwards;
                            animation-delay: 0.3s; 
                            display: block;
                            font-size: 90px;
                            color: $white;
                            // font-family: $exo2;
                            letter-spacing: -1px; 
                            border-bottom: 1px solid #1a1a1a;
                        }
                    } 
                    &:nth-child(1) {
                        button {
                            span {
                                animation-delay: .4s;
                            }
                        }
                    }
                    &:nth-child(2) {
                        button {
                            span {
                                animation-delay: .5s;
                            }
                        }
                    }
                    &:nth-child(3) {
                        button {
                            span {
                                animation-delay: .6s;
                            }
                        }
                    }
                    &:nth-child(4) {
                        button {
                            span {
                                animation-delay: .7s;
                            }
                        }
                    }
                    &:hover {
                        position: relative;
                        &::before {
                            position: absolute;
                            content: '';
                            top: 0;
                            right: 0;
                            display: block;
                            animation: rightLeft 0.3s;
                            width: 100%; 
                            height: 100%;  
                            background-color: rgb(255 220 34) !important;
                        }  
                        button {
                            position: relative;
                            span {
                                color: $darkgray;
                            }
                        }
                    }
                }
            } 
            }
            &:nth-child(3) {
                width: calc(80px - 1px); 
            }    
        }
    } 
    
}
@keyframes sideOpen {
    0%{ width: 0; }
    100%{ width: 100%; }
}
@keyframes textAnimate {
    0%{ opacity: 0; transform: translateY(-150px);}
    100%{ opacity: 1; transform: translateY(0); }
}
@keyframes rightLeft {
    0%{ width: 0; }
    100%{ width: 100%; }
} 
@keyframes closeTopIcon {
    0%{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) rotate(0);
    }
    100%{
        top: 50%;
        left: 50%; 
        transform: translate(-50%,-50%) rotate(45deg);
    }
} 
@keyframes closeBottomIcon {
    0%{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) rotate(0);
    }
    100%{
        top: 50%;
        left: 50%; 
        transform: translate(-50%,-50%) rotate(-45deg);
    }
}

