// Custom layout
$width: 1700px; // pc
$d-width: 1200px; // 노트북
$d2-width: 1024px; // 노트북
$t-width: 768px; //  태블릿
$m-width: 480px; // mobile

// font - NotoSans 
$Pretendard: 'Pretendard-Regular';

// font - poppins 
$popins-extra : 'Poppins-ExtraBold'; 
$popins-bold : 'Poppins-Bold';  
$popins-medium : 'Poppins-Medium'; 
$popins-regular : 'Poppins-Regular';  

$Gmarket : 'GmarketSansMedium';  
$Moul : 'Moul';  

// Custom color
$black: #000;
$white: #fff;  
$darkgray:  #2b2b2b;  